<%= form_for @user, url: sessions_path do |form |%>
    <div>
        <%= form.label :email, "E-mail" %>
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :password, "Senha" %>
        <%= form.password_field :password %>
    </div>

    <div>
        <%= form.submit "Entrar" %>
    </div>

<% end %>