<!DOCTYPE html>
<html>
  <head>
    <title>Classificados</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <p>
    <%= flash.notice %>
    </p>
  
    <nav>
      <% if user_signed_in?%>
        usuario Logado
        <%else%>  
          <%= link_to "Cadastre-se", new_user_path %>
          <%= link_to "Entrar", new_session_path %>
        <%end%>
    </nav>

    <%= yield %>
  </body>
</html>
